:root {
  font-size: 14px; /* default is ~16px */
}


/* Badges - forced identical in both light and dark mode */
.badge-r, .badge-r *,
:root:not(.dark) .badge-r, :root:not(.dark) .badge-r *,
:root.dark .badge-r, :root.dark .badge-r * {
  background-color: #4E3557 !important;
  color: #fafafa !important;
  border-color: #DD96F5 !important;
}

.badge-d, .badge-d *,
:root:not(.dark) .badge-d, :root:not(.dark) .badge-d *,
:root.dark .badge-d, :root.dark .badge-d * {
  background-color: #123249 !important;
  color: #fafafa !important;
  border-color: #45ACF8 !important;
}

.badge-i, .badge-i *,
:root:not(.dark) .badge-i, :root:not(.dark) .badge-i *,
:root.dark .badge-i, :root.dark .badge-i * {
  background-color: #1a3d3f !important;
  color: #fafafa !important;
  border-color: #2f777c !important;
}


/* LIGHT MODE */
:root:not(.dark) .prose,
:root:not(.dark) .prose p,
:root:not(.dark) .prose li {
  color: #4a5068 !important;
}

:root:not(.dark) strong,
:root:not(.dark) b {
  color: #1a1d1d !important;
}

:root:not(.dark) h1,
:root:not(.dark) h2,
:root:not(.dark) h3,
:root:not(.dark) h4 {
  color: #1a1d1d !important;
}

:root:not(.dark) .prose hr,
:root:not(.dark) .prose table td,
:root:not(.dark) .prose table th {
  border-color: #b4b9d0 !important;
}

:root:not(.dark) :not(pre) > code {
  background-color: #dbe0f0 !important;
}

/* DARK MODE */
:root.dark .prose,
:root.dark .prose p,
:root.dark .prose li {
  color: #dde8e8 !important;
}

:root.dark strong,
:root.dark b {
  color: #fafafa !important;
}

:root.dark h1,
:root.dark h2,
:root.dark h3,
:root.dark h4 {
  color: #fafafa !important;
}

:root.dark .prose hr,
:root.dark .prose table td,
:root.dark .prose table th {
  border-color: #505555 !important;
}

:root.dark :not(pre) > code {
  background-color: #383d3d !important;
}
