{
  "openapi": "3.1.0",
  "info": {
    "title": "Lightcone API",
    "description": "REST API for Lightcone, an Impact Markets exchange built on Solana. Lightcone splits underlying Solana tokens into conditional representations whose redeemability depends on real-world event resolution. The exchange features a hybrid CLOB with off-chain matching and on-chain settlement.\n\n## Overview\n\nThe API provides endpoints for:\n- **Markets**: Query conditional token markets and their configurations\n- **Orderbooks**: Access order book data and depth\n- **Orders**: Submit, cancel, and query orders\n- **Positions**: Query user balances and positions\n- **Trades**: Historical trade data\n- **Price History**: OHLCV candlestick data\n\n## Authentication\n\nMost endpoints are public for read operations. Order submission requires Ed25519 signatures from the user's Solana wallet.\n\nThe `/users/orders` endpoint requires JWT authentication:\n\n## Rate Limits\n\nRate limits are not currently enforced but may be added in future versions.",
    "version": "1.0.0",
    "contact": {
      "name": "Lightcone Team"
    }
  },
  "servers": [
    {
      "url": "https://tapi.lightcone.xyz/api",
      "description": "Production API"
    }
  ],
  "tags": [
    {"name": "Markets", "description": "Query conditional token markets and their configurations"},
    {"name": "Orderbooks", "description": "Access order book data, depth, and metadata"},
    {"name": "Orders", "description": "Submit and manage orders"},
    {"name": "Positions", "description": "Query user positions and balances"},
    {"name": "Trades", "description": "Historical trade data"},
    {"name": "Price History", "description": "OHLCV candlestick price data"},
    {"name": "Admin", "description": "Administrative operations"}
  ],
  "paths": {
    "/markets": {
      "get": {
        "tags": ["Markets"],
        "summary": "List all markets",
        "description": "Returns all markets with cursor-based pagination.",
        "parameters": [
          {
            "name": "cursor",
            "in": "query",
            "schema": { "type": "integer" },
            "description": "Pagination cursor (Order hash from previous page’s `next_cursor`)",
            "example": 10
          },
          {
            "name": "limit",
            "in": "query",
            "schema": { "type": "integer", "default": 200 },
            "description": "Max markets to return (default 200, max 1000)",
            "example": 50
          }
        ],
        "responses": {
          "200": {
            "description": "List of markets with metadata",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "markets": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/Market" }
                    },
                    "next_cursor": { "type": "integer", "nullable": true, "description": "Cursor for next page, null if no more results", "example": 20 },
                    "has_more": { "type": "boolean", "description": "Whether more results are available", "example": true }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/markets/by-slug/{slug}": {
      "get": {
        "tags": ["Markets"],
        "summary": "Get market by slug",
        "description": "Returns a single market by its slug.",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": { "type": "string" },
            "description": "Market slug",
            "example": "vitalik-steps-away"
          }
        ],
        "responses": {
          "200": {
            "description": "Market details",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Market" }
              }
            }
          }
        }
      }
    },
    "/markets/{market_pubkey}": {
      "get": {
        "tags": ["Markets"],
        "summary": "Get market by pubkey",
        "description": "Returns a single market by its Solana public key.",
        "parameters": [
          {
            "name": "market_pubkey",
            "in": "path",
            "required": true,
            "schema": { "type": "string" },
            "description": "Market public key (base58 encoded)",
            "example": "FjVJXzKknRoxgdQHNfdMkzq2vswGacM3MHiZhahczBsL"
          }
        ],
        "responses": {
          "200": {
            "description": "Market details",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Market" }
              }
            }
          }
        }
      }
    },
    "/markets/{market_pubkey}/deposit-assets": {
      "get": {
        "tags": ["Markets"],
        "summary": "Get deposit assets for a market",
        "description": "Returns all supported collateral tokens for a market.",
        "parameters": [
          {
            "name": "market_pubkey",
            "in": "path",
            "required": true,
            "schema": { "type": "string" },
            "description": "Market public key (base58 encoded)",
            "example": "FjVJXzKknRoxgdQHNfdMkzq2vswGacM3MHiZhahczBsL"
          }
        ],
        "responses": {
          "200": {
            "description": "List of deposit assets",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "market_pubkey": { "type": "string", "example": "FjVJXzKknRoxgdQHNfdMkzq2vswGacM3MHiZhahczBsL" },
                    "total": { "type": "integer", "example": 1 },
                    "deposit_assets": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/DepositAsset" }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/users/{user_pubkey}/positions": {
      "get": {
        "tags": ["Positions"],
        "summary": "Get user positions",
        "description": "Returns all positions (balances) for a user across all markets.",
        "parameters": [
          {
            "name": "user_pubkey",
            "in": "path",
            "required": true,
            "schema": { "type": "string" },
            "description": "User's Solana wallet pubkey",
            "example": "DYw8jCTfwHNRJhhmFcbXvVDTqWMEVFBX6ZKUmG5CNSKK"
          }
        ],
        "responses": {
          "200": {
            "description": "User's positions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "user_pubkey": { "type": "string", "example": "DYw8jCTfwHNRJhhmFcbXvVDTqWMEVFBX6ZKUmG5CNSKK" },
                    "positions": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/UserPositionResponse" }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/users/{user_pubkey}/markets/{market_pubkey}/positions": {
      "get": {
        "tags": ["Positions"],
        "summary": "Get user market positions",
        "description": "Returns all positions for a user in a specific market.",
        "parameters": [
          {
            "name": "user_pubkey",
            "in": "path",
            "required": true,
            "schema": { "type": "string" },
            "description": "User's Solana wallet pubkey",
            "example": "DYw8jCTfwHNRJhhmFcbXvVDTqWMEVFBX6ZKUmG5CNSKK"
          },
          {
            "name": "market_pubkey",
            "in": "path",
            "required": true,
            "schema": { "type": "string" },
            "description": "Market public key (base58 encoded)",
            "example": "FjVJXzKknRoxgdQHNfdMkzq2vswGacM3MHiZhahczBsL"
          }
        ],
        "responses": {
          "200": {
            "description": "User's market positions",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/UserMarketPositionsResponse" }
              }
            }
          }
        }
      }
    },
    "/users/orders": {
      "post": {
        "tags": ["Orders"],
        "summary": "Get user orders and balances",
        "description": "Returns all open orders for the authenticated user across all markets",
        "security": [{ "cookieAuth": [] }],
        "parameters": [
          {
            "name": "wallet_address",
            "in": "query",
            "required": true,
            "schema": { "type": "string" },
            "description": "Solana wallet address to fetch orders for",
            "example": "DYw8jCTfwHNRJhhmFcbXvVDTqWMEVFBX6ZKUmG5CNSKK"
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": { "type": "string" },
            "description": "Pagination cursor (Order hash from previous page's `next_cursor`)",
            "example": "0xabc123..."
          },
          {
            "name": "limit",
            "in": "query",
            "schema": { "type": "integer", "default": 200 },
            "description": "Max orders to return (default 200, max 1000)",
            "example": 50
          }
        ],
        "responses": {
          "200": {
            "description": "User's open orders and balances",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "user_pubkey": { "type": "string", "example": "DYw8jCTfwHNRJhhmFcbXvVDTqWMEVFBX6ZKUmG5CNSKK" },
                    "orders": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/Order" }
                    },
                    "balances": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/UserMarketBalance" }
                    },
                    "next_cursor": { "type": "string", "nullable": true, "description": "Cursor for next page (order_hash), null if no more results", "example": "0xdef456..." },
                    "has_more": { "type": "boolean", "description": "Whether more results are available", "example": true }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - missing or invalid JWT",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": { "type": "string", "example": "No auth token" }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - wallet does not belong to authenticated user",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": { "type": "string", "example": "Wallet does not belong to authenticated user" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/orderbook/{orderbook_id}": {
      "get": {
        "tags": ["Market Data"],
        "summary": "Get orderbook snapshot",
        "description": "Returns bids and asks for a orderbook.",
        "parameters": [
          {
            "name": "orderbook_id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" },
            "description": "Unique orderbook identifier",
            "example": "5BNoPgYe_CrhujZLf"
          },
          {
            "name": "depth",
            "in": "query",
            "schema": { "type": "integer", "default": 0 },
            "description": "Number of levels to return (0 = all)",
            "example": 10
          }
        ],
        "responses": {
          "200": {
            "description": "Orderbook snapshot",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/OrderbookDepth" }
              }
            }
          }
        }
      }
    },
    "/orders/submit": {
      "post": {
        "tags": ["Orders"],
        "summary": "Submit order",
        "description": "Create a signed order to the exchange",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/SubmitOrderRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Order submitted successfully",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/SubmitOrderResponse" }
              }
            }
          }
        }
      }
    },
    "/orders/cancel": {
      "post": {
        "tags": ["Orders"],
        "summary": "Cancel order",
        "description": "Cancel a specific order by its hash",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CancelOrderRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Order cancelled successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": { "type": "string", "example": "success" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/orders/cancel-all": {
      "post": {
        "tags": ["Orders"],
        "summary": "Cancel all orders",
        "description": "Cancel all orders for a user",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CancelAllOrdersRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "All orders cancelled successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": { "type": "string", "example": "success" },
                    "cancelled_count": { "type": "integer" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/price-history": {
      "get": {
        "tags": ["Price History"],
        "summary": "Get price history",
        "description": "Returns midpoint price history for an orderbook. Optionally returns historic OHLCV candlestick data",
        "parameters": [
          {
            "name": "orderbook_id",
            "in": "query",
            "required": true,
            "schema": { "type": "string" },
            "description": "Orderbook ID",
            "example": "5BNoPgYe_CrhujZLf"
          },
          {
            "name": "resolution",
            "in": "query",
            "schema": { "type": "string", "enum": ["1m", "5m", "15m", "1h", "4h", "1d"], "default": "1m" },
            "description": "Candle resolution (default: 1m)",
            "example": "1h"
          },
          {
            "name": "include_ohlcv",
            "in": "query",
            "schema": { "type": "boolean", "default": false },
            "description": "Include OHLCV data in addition to midpoint",
            "example": false
          },
          {
            "name": "from",
            "in": "query",
            "schema": { "type": "integer", "format": "int64" },
            "description": "Start timestamp (milliseconds)",
            "example": 1736456789000
          },
          {
            "name": "to",
            "in": "query",
            "schema": { "type": "integer", "format": "int64" },
            "description": "End timestamp (milliseconds)",
            "example": 1736543189000
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": { "type": "integer"},
            "description": "Pagination cursor (Order hash from previous page’s `next_cursor`)",
            "example": 1736456789000
          },
          {
            "name": "limit",
            "in": "query",
            "schema": { "type": "integer", "default": 200 },
            "description": "Max candles to return (default 200, max 1000)",
            "example": 100
          }
        ],
        "responses": {
          "200": {
            "description": "Price history data",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/PriceHistoryResponse" }
              }
            }
          }
        }
      }
    },
    "/trades": {
      "get": {
        "tags": ["Trades"],
        "summary": "Get trades",
        "description": "Returns historical trades for a conditional token pair with cursor-based pagination.",
        "parameters": [
          {
            "name": "orderbook_id",
            "in": "query",
            "required": true,
            "schema": { "type": "string" },
            "description": "Orderbook ID",
            "example": "5BNoPgYe_CrhujZLf"
          },
          {
            "name": "user_pubkey",
            "in": "query",
            "schema": { "type": "string" },
            "description": "Filter trades by user pubkey (as maker or taker)",
            "example": "DYw8jCTfwHNRJhhmFcbXvVDTqWMEVFBX6ZKUmG5CNSKK"
          },
          {
            "name": "from",
            "in": "query",
            "schema": { "type": "integer", "format": "int64" },
            "description": "Start timestamp (milliseconds, inclusive)",
            "example": 1736456789000
          },
          {
            "name": "to",
            "in": "query",
            "schema": { "type": "integer", "format": "int64" },
            "description": "End timestamp (milliseconds, inclusive)",
            "example": 1736543189000
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": { "type": "integer", "format": "int64" },
            "description": "Pagination cursor (Order hash from previous page’s `next_cursor`)",
            "example": 1233
          },
          {
            "name": "limit",
            "in": "query",
            "schema": { "type": "integer", "default": 200, "maximum": 1000 },
            "description": "Max trades to return (default 200, max 1000)",
            "example": 50
          }
        ],
        "responses": {
          "200": {
            "description": "Trade history",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/TradesResponse" }
              }
            }
          }
        }
      }
    },
    "/admin/create-orderbook": {
      "post": {
        "tags": ["Admin"],
        "summary": "Create orderbook",
        "description": "Create a new orderbook for a market.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CreateOrderbookRequest" }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Orderbook created",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CreateOrderbookResponse" }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "cookieAuth": {
        "type": "apiKey",
        "in": "cookie",
        "name": "auth_token",
        "description": "JWT token stored in HttpOnly cookie."
      }
    },
    "schemas": {
      "Market": {
        "type": "object",
        "properties": {
          "market_name": { "type": "string", "nullable": true, "description": "Human-readable market name/title", "example": "Vitalik steps away from Ethereum Foundation" },
          "slug": { "type": "string", "nullable": true, "description": "URL-friendly slug", "example": "vitalik-steps-away" },
          "description": { "type": "string", "nullable": true, "description": "Market description", "example": "Will Vitalik Buterin step away from his leadership role at the Ethereum Foundation?" },
          "definition": { "type": "string", "nullable": true, "description": "Resolution rules and definition", "example": "Resolves YES if Vitalik publicly announces he is stepping down from or significantly reducing his role at the Ethereum Foundation before resolution date. Resolves NO otherwise." },
          "outcomes": { "type": "array", "items": { "$ref": "#/components/schemas/OutcomeResponse" }, "description": "Market outcomes with names and images" },
          "banner_image_url": { "type": "string", "nullable": true, "description": "URL to banner image for market display", "example": null },
          "thumbnail_url": { "type": "string", "nullable": true, "description": "URL to thumbnail image for market display", "example": null },
          "category": { "type": "string", "nullable": true, "example": "Crypto" },
          "tags": { "type": "array", "items": { "type": "string" }, "example": ["vitalik", "ethereum", "eth", "foundation"] },
          "featured_rank": { "type": "integer", "description": "Featured rank (0 = not featured, 1-10 = higher means more prominent)", "minimum": 0, "maximum": 10, "example": 0 },
          "market_pubkey": { "type": "string", "description": "Market public key", "example": "FjVJXzKknRoxgdQHNfdMkzq2vswGacM3MHiZhahczBsL" },
          "market_id": { "type": "integer", "description": "Database ID", "example": 0 },
          "oracle": { "type": "string", "description": "Oracle pubkey", "example": "3fhVBVTvMEbuLoNtYCH7scjbGX2AiRKEow82KTBs79Nj" },
          "question_id": { "type": "string", "description": "Keccak256 hash of the question", "example": "11d7c73792001369c27b67e9eaebe07daa21c671ccbf51bb03346b07d0d5f998" },
          "condition_id": { "type": "string", "description": "Keccak256 hash of condition", "example": "a53c6da8430bd3a15d821fd1d3a79e468bda71ff42118d48b5191f5ac642cdf6" },
          "market_status": { "type": "string", "enum": ["Active", "Resolved", "Paused"], "example": "Active" },
          "winning_outcome": { "type": "integer", "nullable": true, "example": null },
          "has_winning_outcome": { "type": "boolean", "example": false },
          "created_at": { "type": "string", "format": "date-time", "example": "2026-01-09T19:21:40.646201Z" },
          "activated_at": { "type": "string", "format": "date-time", "nullable": true, "example": "2026-01-09T19:21:40.999457Z" },
          "settled_at": { "type": "string", "format": "date-time", "nullable": true, "example": null },
          "deposit_assets": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/DepositAsset" }
          },
          "orderbooks": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Orderbook" }
          }
        },
        "example": {
          "market_name": "Vitalik steps away from Ethereum Foundation",
          "slug": "vitalik-steps-away",
          "description": "Will Vitalik Buterin step away from his leadership role at the Ethereum Foundation?",
          "definition": "Resolves YES if Vitalik publicly announces he is stepping down from or significantly reducing his role at the Ethereum Foundation before resolution date. Resolves NO otherwise.",
          "outcomes": [
            { "index": 0, "name": "YES", "thumbnail_url": "https://picsum.photos/seed/yes-vitalik/400/400" },
            { "index": 1, "name": "NO", "thumbnail_url": "https://picsum.photos/seed/no-vitalik/400/400" }
          ],
          "banner_image_url": "https://picsum.photos/seed/vitalik-steps-away/1200/400",
          "thumbnail_url": "https://picsum.photos/seed/vitalik-steps-away/200/200",
          "category": "Crypto",
          "tags": ["vitalik", "ethereum", "eth", "foundation"],
          "featured_rank": 0,
          "market_pubkey": "FjVJXzKknRoxgdQHNfdMkzq2vswGacM3MHiZhahczBsL",
          "market_id": 0,
          "oracle": "3fhVBVTvMEbuLoNtYCH7scjbGX2AiRKEow82KTBs79Nj",
          "question_id": "11d7c73792001369c27b67e9eaebe07daa21c671ccbf51bb03346b07d0d5f998",
          "condition_id": "a53c6da8430bd3a15d821fd1d3a79e468bda71ff42118d48b5191f5ac642cdf6",
          "market_status": "Active",
          "winning_outcome": null,
          "has_winning_outcome": false,
          "created_at": "2026-01-09T19:21:40.646201Z",
          "activated_at": "2026-01-09T19:21:40.999457Z",
          "settled_at": null,
          "deposit_assets": [
            {
              "display_name": "Lightcone BTC",
              "token_symbol": "lcBTC",
              "symbol": "BTC",
              "deposit_asset": "4o5Vsd7iPu97qkKypojXDbpu8BR3t5poD8ThGo8hnUKy",
              "id": 1,
              "market_pubkey": "FjVJXzKknRoxgdQHNfdMkzq2vswGacM3MHiZhahczBsL",
              "vault": "5VMDUrLacaMVWqiBt8VNKnBfnLhY5kVKVJph6KWcpBvM",
              "num_outcomes": 2,
              "decimals": 6,
              "conditional_tokens": [
                {
                  "id": 1,
                  "outcome_index": 0,
                  "token_address": "5BNoPgYemyrbS4ub7MTuKczoYA7qtJZTj5m7xVanupPR",
                  "display_name": "YES-BTC",
                  "outcome": "YES",
                  "deposit_symbol": "BTC",
                  "short_name": "YBTC",
                  "description": "YES outcome token backed by lcBTC - pays out if market resolves YES",
                  "decimals": 6,
                  "created_at": "2026-01-09T19:21:40.789913Z"
                },
                {
                  "id": 2,
                  "outcome_index": 1,
                  "token_address": "79s9ZAcN4zeegreY5m5S86HEsEdCt2KibspWfoUsAq3s",
                  "display_name": "NO-BTC",
                  "outcome": "NO",
                  "deposit_symbol": "BTC",
                  "short_name": "NBTC",
                  "description": "NO outcome token backed by lcBTC - pays out if market resolves NO",
                  "decimals": 6,
                  "created_at": "2026-01-09T19:21:40.808645Z"
                }
              ]
            },
            {
              "display_name": "Lightcone USDC",
              "token_symbol": "lcUSDC",
              "symbol": "USDC",
              "deposit_asset": "7SrxsoXjNR7Y8T3koJCt1yV4FrNUumoAUrJExDt6tQez",
              "id": 2,
              "market_pubkey": "FjVJXzKknRoxgdQHNfdMkzq2vswGacM3MHiZhahczBsL",
              "vault": "9sweR1spEHacegYihwCCjonrnnfwqpy9HvZHfBtut4hc",
              "num_outcomes": 2,
              "decimals": 6,
              "conditional_tokens": [
                {
                  "id": 3,
                  "outcome_index": 0,
                  "token_address": "CrhujZLfmzffVjwUTk6wL1mYeF9nRkx4MBvHmEotnaDF",
                  "display_name": "YES-USDC",
                  "outcome": "YES",
                  "deposit_symbol": "USDC",
                  "short_name": "YUSDC",
                  "description": "YES outcome token backed by lcUSDC - pays out if market resolves YES",
                  "decimals": 6,
                  "created_at": "2026-01-09T19:21:40.903718Z"
                },
                {
                  "id": 4,
                  "outcome_index": 1,
                  "token_address": "5FsL5NJJz2QnyLt66CzaA2VMVJBfYiJ9SeXsZ8WFZrah",
                  "display_name": "NO-USDC",
                  "outcome": "NO",
                  "deposit_symbol": "USDC",
                  "short_name": "NUSDC",
                  "description": "NO outcome token backed by lcUSDC - pays out if market resolves NO",
                  "decimals": 6,
                  "created_at": "2026-01-09T19:21:40.910205Z"
                }
              ]
            }
          ],
          "orderbooks": [
            {
              "id": 1,
              "market_pubkey": "FjVJXzKknRoxgdQHNfdMkzq2vswGacM3MHiZhahczBsL",
              "orderbook_id": "5BNoPgYe_CrhujZLf",
              "base_token": "5BNoPgYemyrbS4ub7MTuKczoYA7qtJZTj5m7xVanupPR",
              "quote_token": "CrhujZLfmzffVjwUTk6wL1mYeF9nRkx4MBvHmEotnaDF",
              "outcome_index": 0,
              "tick_size": 1000,
              "total_bids": 0,
              "total_asks": 0,
              "last_trade_price": null,
              "last_trade_time": null,
              "active": true,
              "created_at": "2026-01-09T20:43:24.107351Z",
              "updated_at": "2026-01-09T20:48:02.278031Z"
            }
          ]
        }
      },
      "OutcomeResponse": {
        "type": "object",
        "properties": {
          "index": { "type": "integer", "description": "Outcome index/ID", "example": 0 },
          "name": { "type": "string", "description": "Outcome name", "example": "YES" },
          "thumbnail_url": { "type": "string", "nullable": true, "description": "Thumbnail image URL for outcome display", "example": "https://picsum.photos/seed/yes-vitalik/400/400" }
        },
        "required": ["index", "name"]
      },
      "DepositAsset": {
        "type": "object",
        "properties": {
          "display_name": { "type": "string", "nullable": true, "description": "E.g., 'Lightcone BTC'", "example": "Lightcone BTC" },
          "token_symbol": { "type": "string", "nullable": true, "description": "E.g., 'lcBTC'", "example": "lcBTC" },
          "symbol": { "type": "string", "nullable": true, "description": "E.g., 'BTC'", "example": "BTC" },
          "deposit_asset": { "type": "string", "description": "Collateral token address", "example": "4o5Vsd7iPu97qkKypojXDbpu8BR3t5poD8ThGo8hnUKy" },
          "id": { "type": "integer", "example": 1 },
          "market_pubkey": { "type": "string", "example": "FjVJXzKknRoxgdQHNfdMkzq2vswGacM3MHiZhahczBsL" },
          "vault": { "type": "string", "description": "Vault PDA holding collateral", "example": "5VMDUrLacaMVWqiBt8VNKnBfnLhY5kVKVJph6KWcpBvM" },
          "num_outcomes": { "type": "integer", "example": 2 },
          "created_at": { "type": "string", "format": "date-time", "example": "2026-01-09T19:21:40.760798Z" },
          "description": { "type": "string", "nullable": true, "example": "Lightcone wrapped Bitcoin for trading on conditional markets" },
          "icon_url": { "type": "string", "nullable": true, "example": "https://metadata.lightcone.xyz/tokens/lcbtc.png" },
          "metadata_uri": { "type": "string", "nullable": true, "example": "https://metadata.lightcone.xyz/tokens/lcbtc.json" },
          "decimals": { "type": "integer", "nullable": true, "example": 6 },
          "conditional_tokens": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/ConditionalToken" }
          }
        }
      },
      "ConditionalToken": {
        "type": "object",
        "properties": {
          "id": { "type": "integer", "example": 1 },
          "outcome_index": { "type": "integer", "description": "0-indexed outcome", "example": 0 },
          "token_address": { "type": "string", "description": "Conditional token address", "example": "5BNoPgYemyrbS4ub7MTuKczoYA7qtJZTj5m7xVanupPR" },
          "name": { "type": "string", "nullable": true, "description": "On-chain name", "example": null },
          "symbol": { "type": "string", "nullable": true, "description": "On-chain symbol", "example": null },
          "uri": { "type": "string", "nullable": true, "description": "On-chain URI", "example": null },
          "created_at": { "type": "string", "format": "date-time", "example": "2026-01-09T19:21:40.789913Z" },
          "display_name": { "type": "string", "nullable": true, "description": "E.g., 'YES-BTC'", "example": "YES-BTC" },
          "outcome": { "type": "string", "nullable": true, "description": "E.g., 'YES' or 'NO'", "example": "YES" },
          "deposit_symbol": { "type": "string", "nullable": true, "description": "E.g., 'BTC'", "example": "BTC" },
          "short_name": { "type": "string", "nullable": true, "description": "E.g., 'YBTC'", "example": "YBTC" },
          "description": { "type": "string", "nullable": true, "example": "YES outcome token backed by lcBTC - pays out if market resolves YES" },
          "icon_url": { "type": "string", "nullable": true, "example": null },
          "metadata_uri": { "type": "string", "nullable": true, "example": null },
          "decimals": { "type": "integer", "nullable": true, "example": 6 }
        }
      },
      "Orderbook": {
        "type": "object",
        "properties": {
          "id": { "type": "integer", "example": 2 },
          "market_pubkey": { "type": "string", "example": "FjVJXzKknRoxgdQHNfdMkzq2vswGacM3MHiZhahczBsL" },
          "orderbook_id": { "type": "string", "example": "5BNoPgYe_CrhujZLf" },
          "base_token": { "type": "string", "example": "5BNoPgYemyrbS4ub7MTuKczoYA7qtJZTj5m7xVanupPR" },
          "quote_token": { "type": "string", "example": "CrhujZLfmzffVjwUTk6wL1mYeF9nRkx4MBvHmEotnaDF" },
          "outcome_index": { "type": "integer", "nullable": true, "description": "Outcome index of base token (0=YES, 1=NO)", "example": 0 },
          "tick_size": { "type": "integer", "example": 1000 },
          "total_bids": { "type": "integer", "example": 0 },
          "total_asks": { "type": "integer", "example": 0 },
          "last_trade_price": { "type": "string", "nullable": true, "description": "Last trade price as decimal string", "example": null },
          "last_trade_time": { "type": "string", "format": "date-time", "nullable": true, "example": null },
          "active": { "type": "boolean", "example": true },
          "created_at": { "type": "string", "format": "date-time", "example": "2026-01-09T20:43:24.107351Z" },
          "updated_at": { "type": "string", "format": "date-time", "example": "2026-01-09T20:48:02.278031Z" }
        }
      },
      "OrderbookDepth": {
        "type": "object",
        "properties": {
          "market_pubkey": { "type": "string", "example": "FjVJXzKknRoxgdQHNfdMkzq2vswGacM3MHiZhahczBsL" },
          "orderbook_id": { "type": "string", "example": "5BNoPgYe_CrhujZLf" },
          "bids": { "type": "array", "items": { "$ref": "#/components/schemas/PriceLevel" } },
          "asks": { "type": "array", "items": { "$ref": "#/components/schemas/PriceLevel" } },
          "best_bid": { "type": "string", "nullable": true, "description": "Best bid price as decimal string", "example": "0.650000" },
          "best_ask": { "type": "string", "nullable": true, "description": "Best ask price as decimal string", "example": "0.660000" },
          "spread": { "type": "string", "nullable": true, "description": "Spread as decimal string", "example": "0.010000" },
          "tick_size": { "type": "integer", "example": 1000 },
          "decimals": {
            "type": "object",
            "description": "Decimal places for price and size",
            "properties": {
              "price": { "type": "integer", "example": 6 },
              "size": { "type": "integer", "example": 6 }
            }
          }
        }
      },
      "PriceLevel": {
        "type": "object",
        "properties": {
          "price": { "type": "string", "description": "Price as decimal string", "example": "0.650000" },
          "size": { "type": "string", "description": "Size as decimal string", "example": "50.000000" },
          "orders": { "type": "integer", "example": 1 }
        }
      },
      "SubmitOrderRequest": {
        "type": "object",
        "required": ["maker", "nonce", "market_pubkey", "base_token", "quote_token", "side", "maker_amount", "taker_amount", "signature", "orderbook_id"],
        "properties": {
          "maker": { "type": "string", "description": "Solana wallet pubkey", "example": "DYw8jCTfwHNRJhhmFcbXvVDTqWMEVFBX6ZKUmG5CNSKK" },
          "nonce": { "type": "integer", "format": "int64", "example": 1736456789000 },
          "market_pubkey": { "type": "string", "description": "Market pubkey", "example": "FjVJXzKknRoxgdQHNfdMkzq2vswGacM3MHiZhahczBsL" },
          "base_token": { "type": "string", "example": "5BNoPgYemyrbS4ub7MTuKczoYA7qtJZTj5m7xVanupPR" },
          "quote_token": { "type": "string", "example": "CrhujZLfmzffVjwUTk6wL1mYeF9nRkx4MBvHmEotnaDF" },
          "side": { "type": "integer", "description": "0 = BID (buy base), 1 = ASK (sell base)", "example": 0 },
          "maker_amount": { "type": "integer", "format": "int64", "description": "Amount maker gives (in base units)", "example": 350000 },
          "taker_amount": { "type": "integer", "format": "int64", "description": "Amount maker wants (in base units)", "example": 650000 },
          "expiration": { "type": "integer", "format": "int64", "default": 0, "description": "Unix timestamp, 0 = no expiration", "example": 0 },
          "signature": { "type": "string", "description": "Hex-encoded Ed25519 signature", "example": "01020304..." },
          "orderbook_id": { "type": "string", "example": "5BNoPgYe_CrhujZLf" }
        }
      },
      "SubmitOrderResponse": {
        "type": "object",
        "properties": {
          "order_hash": { "type": "string", "example": "0xabc123def456..." },
          "status": { "type": "string", "example": "accepted" },
          "remaining": { "type": "string", "description": "Remaining amount as decimal string", "example": "0.350000" },
          "filled": { "type": "string", "description": "Filled amount as decimal string", "example": "0.000000" },
          "fills": { "type": "array", "items": { "type": "object" } }
        }
      },
      "CancelOrderRequest": {
        "type": "object",
        "required": ["order_hash", "maker", "signature"],
        "properties": {
          "order_hash": { "type": "string", "description": "Order hash as returned by the submit order endpoint", "example": "abc123def456..." },
          "maker": { "type": "string", "description": "Order maker's public key", "example": "DYw8jCTfwHNRJhhmFcbXvVDTqWMEVFBX6ZKUmG5CNSKK" },
          "signature": { "type": "string", "description": "Ed25519 signature of the order_hash string. Check the authentication page for more details.", "example": "01020304..." }
        }
      },
      "CancelAllOrdersRequest": {
        "type": "object",
        "required": ["user_pubkey", "signature", "timestamp"],
        "properties": {
          "user_pubkey": { "type": "string", "description": "User's public key (Base58)", "example": "DYw8jCTfwHNRJhhmFcbXvVDTqWMEVFBX6ZKUmG5CNSKK" },
          "orderbook_id": { "type": "string", "nullable": true, "description": "Optional: limit cancellation to a specific orderbook", "example": "5BNoPgYe_CrhujZLf" },
          "signature": { "type": "string", "description": "Ed25519 signature of the  \"cancel_all:<user_pubkey>:<timestamp>\" string", "example": "01020304..." },
          "timestamp": { "type": "integer", "format": "int64", "description": "Unix timestamp in seconds, included in the signed message for replay protection.", "example": 1700000000 }
        }
      },
      "Order": {
        "type": "object",
        "properties": {
          "order_hash": { "type": "string", "example": "0xabc123def456789012345678901234567890123456789012345678901234abcd" },
          "market_pubkey": { "type": "string", "example": "FjVJXzKknRoxgdQHNfdMkzq2vswGacM3MHiZhahczBsL" },
          "orderbook_id": { "type": "string", "example": "5BNoPgYe_CrhujZLf" },
          "side": { "type": "string", "description": "Order side", "example": "bid", "enum": ["bid", "ask"] },
          "maker_amount": { "type": "string", "description": "Maker amount as decimal string", "example": "1.000000" },
          "taker_amount": { "type": "string", "description": "Taker amount as decimal string", "example": "0.600000" },
          "remaining": { "type": "string", "description": "Remaining amount as decimal string", "example": "1.000000" },
          "filled": { "type": "string", "description": "Filled amount as decimal string", "example": "0.000000" },
          "price": { "type": "string", "description": "Order price as decimal string", "example": "0.600000" },
          "created_at": { "type": "integer", "format": "int64", "example": 1736456789000 },
          "expiration": { "type": "integer", "format": "int64", "example": 0 },
          "status": { "type": "string", "description": "Order status: OPEN (resting on book), MATCHING (in-flight tx), FILLED, CANCELLED", "example": "OPEN", "enum": ["OPEN", "MATCHING", "FILLED", "CANCELLED"] }
        }
      },
      "UserPositionsResponse": {
        "type": "object",
        "properties": {
          "owner": { "type": "string", "example": "DYw8jCTfwHNRJhhmFcbXvVDTqWMEVFBX6ZKUmG5CNSKK" },
          "total_markets": { "type": "integer", "example": 3 },
          "positions": { "type": "array", "items": { "$ref": "#/components/schemas/UserPositionResponse" } }
        }
      },
      "UserMarketPositionsResponse": {
        "type": "object",
        "properties": {
          "owner": { "type": "string", "example": "DYw8jCTfwHNRJhhmFcbXvVDTqWMEVFBX6ZKUmG5CNSKK" },
          "market_pubkey": { "type": "string", "example": "FjVJXzKknRoxgdQHNfdMkzq2vswGacM3MHiZhahczBsL" },
          "positions": { "type": "array", "items": { "$ref": "#/components/schemas/UserPositionResponse" } }
        }
      },
      "UserPositionResponse": {
        "type": "object",
        "properties": {
          "id": { "type": "integer", "example": 1 },
          "position_pubkey": { "type": "string", "example": "Pos1t1on111111111111111111111111111111111111" },
          "owner": { "type": "string", "example": "DYw8jCTfwHNRJhhmFcbXvVDTqWMEVFBX6ZKUmG5CNSKK" },
          "market_pubkey": { "type": "string", "example": "FjVJXzKknRoxgdQHNfdMkzq2vswGacM3MHiZhahczBsL" },
          "outcomes": { "type": "array", "items": { "$ref": "#/components/schemas/OutcomeBalance" } },
          "created_at": { "type": "string", "format": "date-time", "example": "2026-01-09T19:21:40.999457Z" },
          "updated_at": { "type": "string", "format": "date-time", "example": "2026-01-09T19:21:40.999457Z" }
        }
      },
      "OutcomeBalance": {
        "type": "object",
        "properties": {
          "outcome_index": { "type": "integer", "example": 0 },
          "conditional_token": { "type": "string", "example": "5BNoPgYemyrbS4ub7MTuKczoYA7qtJZTj5m7xVanupPR" },
          "balance": { "type": "string", "description": "Total balance as decimal string", "example": "1.000000" },
          "balance_idle": { "type": "string", "description": "Available balance as decimal string", "example": "0.500000" },
          "balance_on_book": { "type": "string", "description": "Locked in orders as decimal string", "example": "0.500000" }
        }
      },
      "UserMarketBalance": {
        "type": "object",
        "properties": {
          "market_pubkey": { "type": "string", "example": "FjVJXzKknRoxgdQHNfdMkzq2vswGacM3MHiZhahczBsL" },
          "deposit_asset": { "type": "string", "example": "GKDDjok7y1B6beJNCkusGYbE1tUhtahdMipvzapVZdLe" },
          "outcomes": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "outcome_index": { "type": "integer", "example": 0 },
                "conditional_token": { "type": "string", "example": "5BNoPgYemyrbS4ub7MTuKczoYA7qtJZTj5m7xVanupPR" },
                "idle": { "type": "string", "description": "Available balance as decimal string", "example": "0.500000" },
                "on_book": { "type": "string", "description": "Locked in orders as decimal string", "example": "0.100000" }
              }
            }
          }
        }
      },
      "PriceHistoryResponse": {
        "type": "object",
        "properties": {
          "orderbook_id": { "type": "string", "example": "5BNoPgYe_CrhujZLf" },
          "resolution": { "type": "string", "example": "1h" },
          "include_ohlcv": { "type": "boolean", "example": false },
          "prices": { "type": "array", "items": { "$ref": "#/components/schemas/PriceSnapshot" } },
          "has_more": { "type": "boolean", "example": true },
          "next_cursor": { "type": "integer", "example": 1705312200000 }
        }
      },
      "PriceSnapshot": {
        "type": "object",
        "description": "Midpoint price snapshot, optionally including full OHLCV data. All prices/volumes are decimal strings.",
        "properties": {
          "t": { "type": "integer", "description": "Unix timestamp (milliseconds)", "example": 1705312800000 },
          "m": { "type": "string", "description": "Midpoint price as decimal string", "example": "0.657500" },
          "o": { "type": "string", "description": "Opening price (only if include_ohlcv=true)", "example": "0.650000", "nullable": true },
          "h": { "type": "string", "description": "High price (only if include_ohlcv=true)", "example": "0.665000", "nullable": true },
          "l": { "type": "string", "description": "Low price (only if include_ohlcv=true)", "example": "0.645000", "nullable": true },
          "c": { "type": "string", "description": "Closing price (only if include_ohlcv=true)", "example": "0.660000", "nullable": true },
          "v": { "type": "string", "description": "Volume (only if include_ohlcv=true)", "example": "5.000000", "nullable": true },
          "bb": { "type": "string", "description": "Best bid (only if include_ohlcv=true)", "example": "0.655000", "nullable": true },
          "ba": { "type": "string", "description": "Best ask (only if include_ohlcv=true)", "example": "0.660000", "nullable": true }
        }
      },
      "Trade": {
        "type": "object",
        "properties": {
          "id": { "type": "integer", "example": 1234 },
          "orderbook_id": { "type": "string", "example": "5BNoPgYe_CrhujZLf" },
          "taker_pubkey": { "type": "string", "example": "DYw8jCTfwHNRJhhmFcbXvVDTqWMEVFBX6ZKUmG5CNSKK" },
          "maker_pubkey": { "type": "string", "example": "9MWB6iMkyf1JPPXBgkYy4tUX4f9nGGjkNv6Bw4kbHeUc" },
          "side": { "type": "string", "enum": ["bid", "ask"], "example": "bid" },
          "price": { "type": "string", "description": "Trade price as decimal string", "example": "0.650000" },
          "size": { "type": "string", "description": "Trade size as decimal string", "example": "1.000000" },
          "taker_fee": { "type": "string", "nullable": true, "description": "Taker fee as decimal string (in quote token)", "example": "0.001000" },
          "maker_fee": { "type": "string", "nullable": true, "description": "Maker fee as decimal string (in quote token)", "example": "-0.000500" },
          "executed_at": { "type": "integer", "format": "int64", "example": 1736456789000 }
        }
      },
      "TradesResponse": {
        "type": "object",
        "properties": {
          "orderbook_id": { "type": "string", "example": "5BNoPgYe_CrhujZLf" },
          "trades": { "type": "array", "items": { "$ref": "#/components/schemas/Trade" } },
          "has_more": { "type": "boolean", "example": true },
          "next_cursor": { "type": "integer", "example": 1233 }
        }
      },
      "CreateOrderbookRequest": {
        "type": "object",
        "required": ["market_pubkey", "base_token", "quote_token"],
        "properties": {
          "market_pubkey": { "type": "string", "example": "FjVJXzKknRoxgdQHNfdMkzq2vswGacM3MHiZhahczBsL" },
          "base_token": { "type": "string", "example": "5BNoPgYemyrbS4ub7MTuKczoYA7qtJZTj5m7xVanupPR" },
          "quote_token": { "type": "string", "example": "CrhujZLfmzffVjwUTk6wL1mYeF9nRkx4MBvHmEotnaDF" },
          "tick_size": { "type": "integer", "default": 1000 }
        }
      },
      "CreateOrderbookResponse": {
        "type": "object",
        "properties": {
          "status": { "type": "string", "example": "success" },
          "orderbook_id": { "type": "string", "example": "5BNoPgYe_CrhujZLf" },
          "market_pubkey": { "type": "string", "example": "FjVJXzKknRoxgdQHNfdMkzq2vswGacM3MHiZhahczBsL" },
          "message": { "type": "string", "example": "Orderbook created successfully" }
        }
      }
    }
  }
}